{% extends "base.html" %}
{% load static %}
{% block 'title' %}reset password done{% endblock 'title' %}
{% block 'content' %}

  <main class="main">
    <section id="contact" class="contact section">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
            <br><br><br><br><br><br><br><br>
          <h2>Email send successfully</h2>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

{% endblock 'content' %}
