test{% extends "base.html" %}
{% load static %}
{% block 'title' %}reset password confirm{% endblock 'title' %}
{% block 'content' %}

  <main class="main">
    <section id="contact" class="contact section">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
            <br><br><br><br><br><br><br><br>
          <h2>reset password</h2>
        </div>
        <div class="row gy-4">
          <div class="col-lg-6">
            <form method="post">
              {% csrf_token %}
              <div class="row gy-4">
                <div class="col-md-12 ">
                  <input type="password" name="new_pass1" class="form-control" placeholder="New Password" required>
                </div>
                <div class="col-md-12 ">
                  <input type="password" name="new_pass2" class="form-control" placeholder="Confirm Password" required>
                </div>
                <div class="col-md-12 text-center"><button type="submit">reset</button></div>
                                <br><br><br><br><br><br><br><br>
              </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
          </div><!-- End Contact Form -->
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

{% endblock 'content' %}
